body {
    margin-left: 0px;
    text-align: center;
    font-family: 'DotGothic16', serif;
    background-color: #0033ff;
    margin-top: 25px;
    color: lightcyan;
}

h1 {
    margin-top: 20px;
    font-size: 65px;
    color: yellow;
}

label {
    color: black;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

#icon {
    margin-left: -10px;
}

#record-collection {
    color: lightyellow;
    font-size: 30px;
    margin: 20px 0px 20px 0px;
}

#show-record {
    margin-bottom: 25px;
}

#show-record-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: gold;
}

.record-title {
    font-size: 22px;
    color: rgb(217, 255, 0);
}

#show-liner-note {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #25f463;
}

#record-message-container {
    padding-right: 12px;
}

#record-message {
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    font-size: 25px;
    border-style:dashed;
    color: #25f463;
}

#user-message-container {
    color: gold;
    margin-top: -25px;
}

.update-liner-note-form {
    margin-bottom: 25px;
}

#error {
    color:rgb(255, 118, 118);
}

#eddie-title {
    font-size: 30px;
}

#eddie-label {
    font-size: 20px;
    color: gold;
    margin: 20px 0px 20px 0px;
}

#eddie-input {
    font-size: 30px;
    color: lightcyan;
    border-radius: 2rem;
}

#add-eddie-rec {
    margin-top: -20px;
    font-size: 20px;
}

.rotate-center:hover {
	-webkit-animation: rotate-center 0.3s ease-in-out both;
	        animation: rotate-center 0.3s ease-in-out both;
}

.heartbeat:hover {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.wobble-hor-bottom:hover {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

#eddie-rec {
    max-width: 100%;
}

#eddie-description {
    color: lightsalmon;
}

#playlist-title {
    font-size: 40px;
}

#subtitle-container {
    margin-left: 0px;
    padding-left: 12px;
}

#playlist-subtitle {
    color:gold;
    margin: 20px 0px 40px 0px;
}

#re-index-records-button {
    margin-top: 30px;
}

/* ANIMATIONS (CREDIT: ANIMISTA) */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.70);
              transform: scale(0.70);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.80);
              transform: scale(0.80);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.60);
              transform: scale(0.60);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
}
@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-15px) rotate(-6deg);
              transform: translateX(-15px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-9px) rotate(-3.6deg);
              transform: translateX(-9px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(6px) rotate(2.4deg);
              transform: translateX(6px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.70);
              transform: scale(0.70);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.80);
              transform: scale(0.80);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.60);
              transform: scale(0.60);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-15px) rotate(-6deg);
              transform: translateX(-15px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-9px) rotate(-3.6deg);
              transform: translateX(-9px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(6px) rotate(2.4deg);
              transform: translateX(6px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
}
  
@media screen and (max-width: 750px) {
    #eddie-rec {
        margin-top: 60px;
    }
    #eddie-label {
        font-size: 20px;
    }
    #eddie-input {
        font-size: 20px;
    }
    #eddie-rec {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    #eddie-description {
        margin-bottom: -20px;
    }
}

/* RESIZING FOR SMALLER SCREENS */
@media screen and (max-width: 600px) {

    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 15px;
    }

    .create-liner-note-form {
        font-size: 12px;
    }

    #user-form-container {
        margin: -30px 30px 0px 30px;
    }

    .btn {
        font-size: 12px;
    }

    #eddie-title {
        font-size: 20px;
    }

    #eddie-subtitle {
        font-size: 20px;
        margin-top: 20px;
        color: rgb(234, 255, 213);
    }

    #eddie-label {
        font-size: 20px;
        color: gold;
        margin: 10px 0px 10px 0px;
    }
    
    #eddie-input {
        font-size: 15px;
        color: lightcyan;
        margin: -5px;
    }

    #add-eddie-rec {
        margin-top: -20px;
        font-size: 15px;
    }

    #record-message {
        font-size: 20px;
        padding: 10px 0px 10px 0px;
        margin: 0px 50px 20px 50px;
    }

    #playlist-title {
        font-size: 30px;
    }

    #show-song {
        font-size: 20px;
    }

    #userError {
        margin-top: -40px;
    }
    .form-label {
        font-size: 12px;
    }
    .user-input {
        font-size: 12px;
    }
}