body {
    text-align: center;
    font-family: 'IM Fell English', serif;
    background-color: #0033ff;
    margin-top: 50px;
    color: lightcyan;
}

h1 {
    margin-top: 20px;
    font-size: 65px;
    font-family: 'Rosarivo', serif;
    color: yellow;
}

label {
    color: black;
}

h2 {
    font-size: 25px;
    font-family: 'Rosarivo', serif;
}

h3 {
    font-family: 'IM Fell English', italic;
}

#copyright {
    font-size: 20px;
}

#record-collection {
    color: lightyellow;
    font-size: 30px;
    margin-bottom: 40px;
}

#show-record-title {
    font-size: 40px;
    color: lightyellow;
}

#show-liner-note {
    font-size: 40px;
    color: lightyellow;
}

.update-liner-note-form {
    margin-bottom: 25px;
}